@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html {
  scroll-behavior: smooth;
}

.ecotemp-logo-img {
    height: 46px;
    width: 180px;
    object-fit: contain;
}

.ecotemp-logo-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
